* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    overflow-x: hidden;
    background-color: rgb(0, 30, 32);
}

#section01 img {
    width: 100vw;
    height: auto;
}

#section06 img{
    width: 100vw;
    height: auto;

    padding: 0.50rem 0.25rem 0.50rem 0.25rem;
}

/* \/ GLOBAL PARA SECTIONS COM 4 ABAS / */

.tamanho100vwedisplayflexentreasabas {
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* ^^^^^^ GLOBAL ^^^^ */

.sectionpara4abas {
    padding: 0.50rem 0.25rem 0 0.25rem;
}

.sectionpara4abas img {
    width: 24.8vw;
    height: auto;
}

.sectionpara3abas {
    padding: 0.50rem 0.25rem 0 0.25rem;
}

.sectionpara3abas img {
    width: 33.1vw;
    height: auto;
}
